.root {
      -fx-background-color: rgba(70, 255, 219, 0.36);
}

Button {
    /*-fx-font: 25px Tahoma;*/
   /* -fx-background-color: rgb(220, 40, 164);*/
}

Label {
    /*-fx-font: 25px Tahoma;*/
    /*-fx-background-color: #fdfdfe;*/
}

.roundButton {
    -fx-font: 15px Tahoma;
    -fx-background-radius: 50em;
    -fx-min-width: 70px;
    -fx-min-height: 70px;
    -fx-max-width: 70px;
    -fx-max-height: 70px;

    -fx-background-color: rgba(157, 157, 157, 0.56);

    -fx-border-color: rgba(9, 9, 9, 0.95);
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-border-radius: 50em;
}

.extraButton {
    -fx-font: 15px Tahoma;
    -fx-background-radius: 50em;
    -fx-min-width: 70px;
    -fx-min-height: 70px;
    -fx-max-width: 70px;
    -fx-max-height: 70px;

    -fx-background-color: #fe415a;

    -fx-border-color: black;
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-border-radius: 50em;
}

.simpleLabel {
    -fx-background-color: #fedefe;
}

HBox {
    /*-fx-border-color: black;*/
}
